[user]
	email = crashcube@gmail.com
	name = Denis Lysenko

[core]
	autocrlf = input
	editor = vim
	excludesfile = /Users/ccbe/.gitignore_global
	pager = less -F -X

[color]
	ui = auto

[alias]
	l = log --graph --oneline
	h = log --graph --pretty=format:'%C(yellow)%h%C(reset)%C(red)%d%C(reset) %s %C(cyan)%an%C(reset) %C(green)%cr%C(reset)'
	a = log --graph --pretty=format:'%C(yellow)%h%C(reset)%C(red)%d%C(reset) %s %C(cyan)%an%C(reset) %C(green)%cr%C(reset)' --all

[oh-my-zsh]
	hide-dirty = 1
[pull]
	rebase = true
	ff = only
[init]
	defaultBranch = main
