alias la='ls -la'
alias grep='grep --color=auto'
alias vi='nvim'
alias vim='nvim'
alias dev_appserver.py='/usr/local/Caskroom/google-cloud-sdk/latest/google-cloud-sdk/bin/dev_appserver.py'
alias myip='curl ifconfig.co/json'
alias chrome='open -a /Applications/Google\ Chrome.app'
alias ra='source ~/.aliases'

# os x
alias ic='cd ~/Library/Mobile\ Documents/com~apple~CloudDocs'
alias show='defaults write com.apple.finder AppleShowAllFiles true && killall Finder'
alias hide='defaults write com.apple.finder AppleShowAllFiles false && killall Finder'
alias flushdns='sudo dscacheutil -flushcache && sudo killall -HUP mDNSResponder'
alias wallup='sudo pfctl -f /etc/pf.conf -e'
alias walldown='sudo pfctl -d'
alias fixttl='sudo sysctl -w net.inet.ip.ttl=65'
alias sa='ssh-add'

# tmux
alias ts='tmux ls'
alias ta='tmux attach -t main || tmux new -s main'
alias tk='tmux kill-session -t'
alias tt='tmuxinator start'

# git
alias gs='git status'
alias gd='git diff'
alias gl='git log'
alias gull='git pull'
alias gullr='git pull --rebase'
alias gush='git push'
alias gushoh='git push -u origin HEAD'
alias gpr='hub pull-request'
alias sw='git update-index --skip-worktree db/structure.sql'
alias nsw='git update-index --no-skip-worktree db/structure.sql'

# dev
alias fs='foreman start'
alias om='overmind'
alias oms='overmind start'
alias omc='overmind connect'
alias omr='overmind restart'
alias be='bundle exec'
alias rake='bundle exec rake'
alias rails='bundle exec rails'
alias rspec='bundle exec rspec'
alias cap='bundle exec cap'
alias mina='bundle exec mina'
alias rackup='bundle exec rackup'
alias guard='bundle exec guard'
alias shotgun='bundle exec shotgun'
alias js='bundle exec jekyll serve'
alias resque-start='bundle exec rake resque:work QUEUES=* TERM_CHILD=1'
alias bsl='brew services list'
alias bsr='brew services run'
alias bss='brew services stop'
alias av='ansible-vault'
alias ave='ansible-vault encrypt --vault-id .vpass'
alias avd='ansible-vault decrypt --vault-id .vpass'
alias mtrr='mtr -s 1500 -r -n -c 1000 -i 0.1'
alias sl='subl -a'
alias sla='subl -a .'

# docker
alias docker='pgrep com.docker.hyperkit &> /dev/null || (open /Applications/Docker.app && until docker info &> /dev/null ; do sleep 1; done) && docker'
alias docker-compose='pgrep com.docker.hyperkit &> /dev/null || (open /Applications/Docker.app && until docker info &> /dev/null ; do sleep 1; done) && docker-compose'
alias sen='docker run --rm --name sen -it -v /var/run/docker.sock:/run/docker.sock -e TERM tomastomecek/sen'

# misc
alias pgen8='pwgen -Cs 8 1 | tr -d " " | tr -d "\n" | pbcopy'
alias pgen15='pwgen -Cs 15 1 | tr -d " " | tr -d "\n" | pbcopy'
alias workhard='cat /etc/hosts | sed "/127.0.0.1 vk.com/s/^#//g" | sudo tee /etc/hosts'
alias procrastinate='cat /etc/hosts | sed "/127.0.0.1 vk.com/s/^/#/g" | sudo tee /etc/hosts'
alias compact720='ffmpeg -vf scale=-1:720 -crf 18 -preset ultrafast'

# fohlio
alias frestore-local='rake db:setup_production_db UNTIL=create_dump_from_local_db'
alias frestore-test='rake db:setup_production_db[test]'
alias frestore-testux='rake db:setup_production_db[testux]'

# functions

fh() {
  eval $( ([ -n "$ZSH_NAME" ] && fc -l 1 || history) | fzf +s --tac | sed 's/ *[0-9]* *//')
}

fvi() {
  local dir
  dir=$(find ${1:-.} -path '*/\.*' -prune \
                  -o -type d -print 2> /dev/null | fzf +m) &&
  vi "$dir"
}

fbr() {
  git fetch
  local branches branch
  branches=$(git branch -a) &&
  branch=$(echo "$branches" | fzf +s +m -e) &&
  git checkout $(echo "$branch" | sed "s:.* remotes/origin/::" | sed "s:.* ::")
}

unmount() {
    if [ ! -d "$1" ]; then
        echo "Specify correct mount point"
        return 1
    fi

    rm -rf "$1/.fseventsd"
    rm -rf "$1/.Trashes"
    rm -rf "$1/.Spotlight-V100"
    find "$1" -name "._*" -exec rm {} \;
    find "$1" -name ".DS_Store" -exec rm {} \;

    diskutil unmount "$1"
}

gerge() {
    if [ -z $1 ]; then
        echo "Specify where to merge current branch"
        return 1
    fi

    BRANCH=$(git symbolic-ref --short HEAD)

    git checkout $1 && git pull --rebase && git merge $BRANCH && git push && git checkout ${BRANCH}
}

attrclean() {
    if [ -e $1 ]; then
        echo "Specify the path"
        return 1
    fi

    chmod -RN $1
    xattr -rc $1
}

csrgen() {
    if [ -z $1 ]; then
        echo "Specify FQDN"
        return 1
    fi

    openssl req -newkey rsa:2048 -sha256 -nodes -keyout "${1}.key" -out "${1}.csr"
    openssl x509 -req -days 365 -in "${1}.csr" -signkey "${1}.key" -out "${1}.crt"
}

lvhgen() {
    openssl req -newkey rsa:2048 -x509 -nodes -keyout lvh.me.key -sha256 -days 3650 -new -out lvh.me.crt -subj '/CN=*.lvh.me' -reqexts SAN -extensions SAN -config <(cat /System/Library/OpenSSL/openssl.cnf <(printf '[SAN]\nsubjectAltName=DNS:lvh.me,DNS:*.lvh.me'))
}

chmod_restore() {
    if [ -z $1 ]; then
        echo "Empty path"
        return 1
    fi

    find "$1" -type d -exec chmod 0755 {} \;
    find "$1" -type f -exec chmod 0644 {} \;
}

find_big() {
    find / -size +100M 2> /dev/null
}

encrypt() {
    if [ ! -f "$1" ]; then
      echo "File does not exist"
      return
    fi

    if [ -z "$2" ]; then
      echo "Specify path"
      return
    fi

    cat "$1" | openssl enc -aes-256-cbc -salt > "$2"
}

decrypt() {
    if [ ! -f "$1" ]; then
      echo "File does not exist"
      return
    fi

    openssl enc -aes-256-cbc -d -in "$1"
}

sshsu() {
    if [ -z $1 ]; then
        echo "Empty host"
        return 1
    fi

    if [ -z $2 ]; then
        echo "Empty username"
        return 1
    fi

    ssh "$1" sudo su "$2" -c "${@:3}"
}

sshscr() {
    if [ -z $1 ]; then
      echo "Specify FQDN"
      return 1
    fi

    ssh "$1" -t screen -R
}

sshmux() {
    if [ -z $1 ]; then
      echo "Specify FQDN"
      return 1
    fi

    ssh "$1" -t "tmux -CC attach || tmux -CC"
}

pg_reset() {
    if [ -z $1 ]; then
        echo "Missing database name"
        return 1
    fi

    psql postgres -c "DROP DATABASE $1"
    psql postgres -c "CREATE DATABASE $1"
}

remove_layout() {
    if [ -z $1 ]
    then
        echo "Empty pattern"
        return 1
    fi

    find . -type f -name '*.html' -o -name '*.html.erb' | while read file
    do
        echo $file
        sed -n "$1" "$file" | sed '1d' | sed '$d' > tmp
        mv -f tmp "$file"
    done
}

iconv_recursive() {
    find . -type f -name '*.html' -o -name '*.html.erb' | while read file
    do
        echo $file
        iconv -f CP1251 -t UTF-8 "$file" > tmp
        mv -f tmp "$file"
    done
}

pghero() {
    if [ -z $1 ]; then
        echo "Specify database name"
        return 1
    fi

    docker run --rm --name pghero -it -p 8080:8080 -e DATABASE_URL=postgres://dlysenko:postgres@docker.for.mac.localhost:5432/$1 ankane/pghero
}

gocode() {
    brew services run postgresql@11
    brew services run redis
    brew services run nginx
    #brew services run memcached
}

nocode() {
    brew services stop postgresql@11
    brew services stop redis
    brew services stop memcached
}

decdump() {
    FILE="$1"

    if [ ! -f "$FILE" ]; then
        echo "Wrong file name"
        return 1
    fi

    openssl aes-256-cbc -d -base64 -in "$FILE" -pass "pass:$DB_SECRET" -md sha256 -out dump.tar
    rm -f "$FILE"
}

undump() {
    FILE="$1"

    if [ ! -f "$FILE" ]; then
        echo "Wrong file name"
        return 1
    fi

    DIR="$(date +%H%M%S_%d%m%Y)"
    mkdir "$DIR"

    tar -xf "$FILE" -C "$DIR" --strip-components=2
    rm -rf "$FILE"
}
