[user]
    email = crashcube@gmail.com
    name = Denis Lysenko

[core]
    autocrlf = input
    editor = vim
    excludesfile = /Users/crashcube/.gitignore_global

[color]
    ui = auto

[alias]
    co = checkout
    ci = commit
    st = status
    br = branch
    h = log --graph --date=short --pretty=format:'%h | %ad | %s%d [%an]'
    h2 = log --graph --all --abbrev-commit --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'

[merge]
    ff = false
